{
  "name": "falcon-mcp",
  "version": "__VERSION__",
  "description": "CrowdStrike Falcon MCP Server (Model Context Protocol)",
  "main": "./bin/index.js",
  "bin": { "falcon-mcp": "bin/index.js" },
  "optionalDependencies": {
    "falcon-mcp-macos-x86_64": "__VERSION__",
    "falcon-mcp-macos-arm64": "__VERSION__",
    "falcon-mcp-linux-x86_64": "__VERSION__",
    "falcon-mcp-linux-arm64": "__VERSION__",
    "falcon-mcp-windows-x86_64": "__VERSION__",
    "falcon-mcp-windows-arm64": "__VERSION__"
  },
  "repository": { "type": "git", "url": "git+https://github.com/crowdstrike/falcon-mcp.git" },
  "keywords": ["mcp", "crowdstrike", "falcon", "model context protocol"],
  "license": "MIT",
  "bugs": { "url": "https://github.com/crowdstrike/falcon-mcp/issues" },
  "homepage": "https://github.com/crowdstrike/falcon-mcp#readme"
}
